body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #00ffc6;
    background-color:#030616;
}

header nav{
    background-color: #00ffc6;
}

header nav ul{
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 32px;
    display: flex;
    flex-direction: column;
}

header nav ul li{
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid #030616;
}
header ul a{
    text-decoration: none;
    color:#030616;
}
@media (min-width: 768px){
    header nav ul{
        flex-direction: row;
    }

    header nav ul li{
        border-bottom: none;
    } 
}